@import "~antd/dist/antd.css";
font-family: "Inter Variable", sans-serif;
/* width */
::-webkit-scrollbar {
  width: 10px;
}
.progressScroll {
  width: 100%;
  height: 200px;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progressSlide {
  width: 100%;
  height: 100%;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #83c8033f;
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #82c803;
}
.spline-watermark {
  opacity: 0 !important;
}
/* @font-face {
  font-family: 'K2D';
  font-style: bold;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-Bold.ttf) format('ttf');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
} */
.rdw-editor-toolbar {
  /* background: white;
  top: 154px;
  left: 210px;
  z-index: 640;
  width: 870px;
  position: fixed; */
}

@font-face {
  font-family: "K2D";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/k2d/K2D-ExtraBold.ttf);
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/poppins/Poppins-Medium.ttf);
}

/* @font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/k2d/K2D-ExtraBoldItalic.ttf) format('ttf');
} */

/* @font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
}

@font-face {
  font-family: 'K2D';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/k2d/K2D-BoldItalic.ttf) format('ttf');
} */
.ant-timeline-item-head {
  background-color: transparent !important;
}
.ant-timeline-item-head,
.ant-timeline-item-head-custom,
.ant-timeline-item-head-blue {
  background: "transparent" !important; /* val wont work in "quotes" */
}

.ant-collapse-item .ant-collapse-no-arrow {
  border-style: none !important;
}

.light-placeholder::placeholder {
  color: #cfcfcf;
}

.light-placeholder:-ms-input-placeholder {
  color: #cfcfcf;
}

.light-placeholder::-ms-input-placeholder {
  color: #cfcfcf;
}

div::-webkit-scrollbar {
  display: none;
}

div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p,
li {
  font-size: 1.2em;
}

.Button {
  color: red;
}

.ant-btn-primary {
  background-color: #97ca42;
  border-color: #97ca42;
}

.ant-menu-item-selected {
  color: #97ca42 !important;
  border-bottom-color: #97ca42 !important;
}
.wrapperClassName {
  width: 100%;
  height: 100%;
  border: solid 1px rgb(214, 214, 214);
}
@import url("https://fonts.googleapis.com/css?family=Open + Sans:400italic");
blockquote {
  font-size: 1em;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 5%;
  /* margin:50px auto; */
  font-family: Open Sans;
  font-style: italic;
  color: #555555;
  /* padding:1.2em 10px 1.2em 75px; */
  padding: 20px;
  padding-bottom: 1px;
  border-left: 8px solid #78c0a8;
  line-height: 1.6;
  position: relative;
  background: #ededed;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.gatsby-highlight {
  margin-bottom: 20px;
}

.footer-links {
  /* color: white; */
  font-size: 1.2em;
  margin-bottom: 5px;
  display: block;
}

h2 {
  font-weight: bold;
}

#copyright {
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.custom-modal-wrapper {
  position: relative;
  top: 30px;
}
